**/node_modules
**/npm-debug.log
**/.git
**/.gitignore
**/.env
**/.DS_Store
**/.expo
**/.vscode
**/build
**/dist
**/*.zip
**/*.apk
**/*.ipa
**/.android
**/.ios
**/ios/Pods
**/android/.gradle
**/.gradle
**/.venv
**/__pycache__
**/.pytest_cache
**/.next
**/.turbo
**/.cache
package-lock\ 2.json
